version: '3'
services:
  web:
    image: nginx:latest
    volumes:
      - ./web/conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./wordpress/html:/var/www/html
      - ./web/log:/var/log/nginx
    ports:
      - 80:80
  wordpress:
    image: wordpress:5.8.2-php7.4-fpm
    volumes:
      - ./wordpress/html:/var/www/html
      - ./wordpress/conf/php.ini:/usr/local/etc/php/php.ini
    expose:
      - '9000'
    depends_on:
      - wp-db
    environment:
      WORDPRESS_DB_HOST: wp-db
      WORDPRESS_DB_USER: wpuser
      WORDPRESS_DB_PASSWORD: wppass
      WORDPRESS_DB_NAME: wordpress
      TZ: Asia/Tokyo
    extra_hosts:
      - "localhost:172.17.0.1"
  wp-db:
    build:
      context: ./db/docker
      dockerfile: Dockerfile
    expose:
      - '3306'
    environment:
      MYSQL_ROOT_PASSWORD: mysqlpass
      MYSQL_USER: wpuser
      MYSQL_PASSWORD: wppass
      MYSQL_DATABASE: wordpress
      TZ: Asia/Tokyo
    volumes:
      - ./db/dbdata:/var/lib/mysql
    user: "1000:1000"
