version: '3'
services:
  minio:
    image: minio/minio:latest
    volumes:
      - ./minio/data:/data
    ports:
      - 9000:9000
      - 9001:9001
    command: server /data --console-address :9001
    environment:
      MINIO_ROOT_USER: minioAdminUser
      MINIO_ROOT_PASSWORD: minioAdminPassword
      TZ: Asia/Tokyo
